<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      .select{background-color:darkgray}
      .kikangentei{background-color:rgba(255, 255, 0, 0.932)}
      .item_box{border: solid 3px black;}
    </style>
    <title>うどんクック</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="udon">
      <div v-if="page > 1">
        <button @click="back_page();">前の画面に戻る</button><br />
      </div>
      <div v-if="page === 1">
        <h1>うどんクック</h1>
        <br />
        <button @click="next_page();">うどんを作る</button>
      </div>
      <div v-if="page === 2">
        <h1>まずはうどんを選びましょう！</h1>
        <br />
        <div class="kikangentei">期間限定は背景が黄色になります。</div><br>
        <div class="item_box" v-for="item in list.udon">
          <div :class="{select:item.flag}">
            <div @click="item.flag = !item.flag">{{ item.cp_name ? "期間限定！：" : "" }}{{ item.name }}</div>
            <div v-if="item.cp_name">{{ item.cp_name }}</div>
          </div>
        </div>
        <button @click="next_page();" v-if="udon_select_judge">次に進む</button>
      </div>
      <div v-if="page === 3">
        <h1>天ぷらトッピング、サイドメニューを選びましょう！</h1>
        <br />
        <div class="kikangentei">期間限定は背景が黄色になります。</div><br>
        <h3 @click="index_data.tempura = !index_data.tempura">天ぷら{{ index_data.tempura ? "▲" : "▼" }}</h3>
        <div v-if="index_data.tempura" class="item_box" v-for="item in list.tempura">
          <div :class="{select:item.flag}">
            <div @click="item.flag = !item.flag">{{ item.cp_name ? "期間限定！：" : "" }}{{ item.name }}</div>
            <div v-if="item.cp_name">{{ item.cp_name }}</div>
          </div>
        </div>
        <h3 @click="index_data.topping = !index_data.topping">トッピング{{ index_data.topping ? "▲" : "▼" }}</h3>
        <div v-if="index_data.topping" class="item_box" v-for="item in list.topping">
          <div :class="{select:item.flag}">
            <div @click="item.flag = !item.flag">{{ item.cp_name ? "期間限定！：" : "" }}{{ item.name }}</div>
            <div v-if="item.cp_name">{{ item.cp_name }}</div>
          </div>
        </div>
        <h3 @click="index_data.other = !index_data.other">サイドメニュー{{ index_data.other ? "▲" : "▼" }}</h3>
        <div v-if="index_data.other" class="item_box" v-for="item in list.other">
          <div :class="{select:item.flag}">
            <div @click="item.flag = !item.flag">{{ item.cp_name ? "期間限定！：" : "" }}{{ item.name }}</div>
            <div v-if="item.cp_name">{{ item.cp_name }}</div>
          </div>
        </div>
        <button @click="next_page();">次に進む</button>
      </div>
      <div v-if="page === 4">
        <h1>あなたがつくったうどん</h1>
        {{ menu_text_make }} <br>
        <button @click="next_page();">コレニスル！</button>
      </div>
      <div v-if="page === 5">
        <h1>使ってくれてありがとう！</h1>
        またつかってね<br>
        <button @click="tweet()">Twitterに共有する</button><br>
        <button @click="copy('url')">クリップボードにコピーする</button><br>
        <button @click="reset();">最初からうどんを作り直す。</button>
      </div>
    </div>
    <script type="module" src="index.js"></script>
  </body>
</html>
